div.fade.toast.owned.show { 
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 65%;
    transform: translate(-50%,0)
  }
  div.fade.toast.unowned.show { 
    background-color: rgb(76, 183, 232);
    right: 0%;
  }

  .messages-container{
    height: 350px;
    overflow-y: scroll;
   
} 

div.gifList{
  height: 350px;
  overflow-y: scroll;
 
} 
.gif-item {
  width:230px; /* you can use % */
  height: 230px;
}
.space{
  margin-top: 100px;
}